apiVersion: v1
kind: Namespace
metadata:
  name: tictactoe
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tictactoe
  namespace: tictactoe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tictactoe
  template:
    metadata:
      labels:
        app: tictactoe
    spec:
      containers:
      - name: tictactoe
        image: ghcr.io/pnz1990/tictactoe-k8s:v1
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: tictactoe
  namespace: tictactoe
spec:
  selector:
    app: tictactoe
  ports:
  - port: 80
    targetPort: 80
