apiVersion: v1
kind: Service
metadata:
  name: tictactoe
  labels:
    app: tictactoe
spec:
  selector:
    app: tictactoe
  ports:
  - port: 80
    targetPort: 8080
    name: http
  - port: 9113
    targetPort: 9113
    name: metrics
