apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tictactoe-staging
resources:
- ../../base
- namespace.yaml
patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 2
    - op: replace
      path: /spec/template/spec/containers/0/resources/requests/cpu
      value: 50m
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: 200m
  target:
    kind: Deployment
    name: tictactoe
